.landing-how-helps{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 10%;
}

.landing-how-helps h4{
    font-size: 35px;
    font-weight: 700;
}

.landing-how-helps-cards{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.card{
    width: 20%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    border: 1px solid #c8d6e5;
    border-radius: 5px;
}

.card div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0px;
}

.card p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #566474;
    font-weight: 500;
    text-align: center;
    margin: 20px 0px;
}

.landing-how-helps-btn{
    background-color: #478df3;
    border-radius: 5px;
    border: 2px solid #478df3;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    margin: 40px 0px;
}

.landing-how-helps-btn:hover{
    background-color: #589bff;
    border: 2px solid #589bff;
}

@media (max-width: 820px) {
    .landing-how-helps-cards{
        flex-direction: column;
    }
    .card{
        width: 50%;
        margin-top: 30px;
        height: 20vh;
    }
}

@media (max-width: 540px) {
    .card{
        height: 25vh;
        width: 85%;
    }
    .landing-how-helps h4{
        font-size: 30px;
        text-align: center;
    }
}