.profile-view{
    width: 85%;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.profile-view .top{
    display: flex;
    padding: 20px;
    height: 20vh;
    justify-content: start;
    background-color: #f5f5f1;
    background-image: linear-gradient(315deg, #f5f5f1 0%, #e50914 74%);
}

.profile-view .top img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 65px;
    margin-left: 1rem;
    border: 4px solid white;
}

.profile-view .profile-details{
    margin-top: 5rem;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-view .profile-details div p{
    margin: 0;
    color: rgb(108, 108, 108);
    font-weight: 500;
}

.profile-view .profile-details .total-orders{
    width: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-weight: 500;
    padding-right: 30px;
    cursor: pointer;
}

.profile-view .your-orders-stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin-left: 2.5rem;
}

.profile-view .your-orders-stat .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.profile-view .your-orders-stat .head span{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.profile-view .your-orders-stat .head span p{
    margin: 0;
}